.header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
   position: fixed;
   width: 100%;
   height: 90px;
   z-index: 10;
}
.header-bg{
/* filter: blur(8px); */
background-color:rgb(169, 202, 169);
    transition: 0.5s;
}
img{
    height: 50px;
    width: 50px;
    
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    padding: 0 1rem;
}
.nav-menu li a{
    font-size: 1.2rem;

}
/* 
.nav-menu ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: gray;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-menu ul li a:hover::after{
width: 100%;
}  */
.hamburger{
    display: none;
}

@media screen and (max-width:1040px){
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: wheat;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        padding: 1rem 0;
    }
    .nav-menu li a{
        font-size: 2rem;
    }
    
    .hamburger{
        display: initial;
    }
    
}