#Resources-Page{
    font-family: 'Playfair Display', serif;
    background-color: #FFEFFE;
    background-image: none !important;
    padding: 0 5vw 0 5vw;
    width: 100vw;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

h1{
    text-align: center;
    font-weight: 700;
    margin-top: 0;
}

h2{
    font-weight: 700;
}

#rlist li, #rlist li a{
    display: inline; 
    padding-right: 2vw;
    text-decoration: underline;
    color: black;
    font-weight: 500;
}

#info p, #info a{
    padding: 10px 10vw 10px 10vw;
}

a{
    display: block;
    font-style: italic;
}

#period, #contra, #mh {
    font-weight: bold;
}

/* ul{
    margin-left: 25%;
} */