@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
 
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
 }
 
 body{
  /* background: url(homepage.png) no-repeat center fixed;
  background-size: cover; */
  background: white;
 }

 h1,h4,p,a{
  color: black;
  text-decoration: none;
  font-weight: 500;
 }
 ul{
  list-style-type: none;
 }
 
/* @media screen and (max-width:1040px){
  img{
    width: 100%;
   height: auto;
  }
} */